<!-- Banner -->
<div id="hero-search" >
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/87146171481981.5bd810c153a71.gif);">
    <div class="container">
      <h1>My <strong>success</strong> partner <strong></h1>
      <p>La réussite en 3 clicks</p>
    </div>
</div>
    <div id="booking" class="section">
    <div class="section-center">
      <div class="container ">
        <div class="row ">
          <div class="booking-form">
            <form>
              <div class="row no-margin">
                <div class="col-md-3">
                  <div class="form-group">
                    <span class="form-label">Ville</span>
                    <select class="form-control">
                      <option>Paris</option>
                      <option>Marseille</option>
                      <option>Toulouse</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row no-margin">
                    <div class="col-md-8">
                      <div class="form-group">
                        <span class="form-label">Date</span>
                        <input class="form-control" type="date" required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-label">Examen</span>
                        <select class="form-control">
                          <option>BAC</option>
                          <option>TOEIC</option>
                          <option>PERMIS</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div>
                    <%= link_to "Rechercher", services_path, class: "btn btn-flat" %>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card-Grids -->
<div class="title" id="top">
<h1>Nos Catégories</h1>
   <div class="content">
      <div class="card">
            <div class="icon"><i class="material-icons md-36"></i></div>
            <p class="title">Anglais</p>
            <p class="text">Découvez toutes les prestations d'anglais.</p>
      </div>

      <div class="card">
            <div class="icon"><i class="material-icons md-36"></i></div>
            <p class="title">Permis</p>
            <p class="text">Découvez toutes les prestations de permis.</p>
      </div>

      <div class="card">
            <div class="icon"><i class="material-icons md-36"></i></div>
            <p class="title">Maths</p>
            <p class="text">Découvez toutes les prestations de maths.</p>
      </div>
   </div>
   <div class="content">
    <div class="card">
            <div class="icon"><i class="material-icons md-36"></i></div>
            <p class="title">BAC</p>
            <p class="text">Découvez toutes les prestations d'anglais.</p>
      </div>

      <div class="card">
            <div class="icon"><i class="material-icons md-36"></i></div>
            <p class="title">MEDECINE</p>
            <p class="text">Découvez toutes les prestations de permis.</p>
      </div>
</div>
