<!-- FORMULAIRE -->
<div class="homepage">
        <div class="filter">
          <div class="banner">
            <div class="text-center banner-content">
              <h1>My Success partner</h1>
              <div class="class1">
                <div class="row">
                    <form class="form-inline">
                      <div class="input">
                        <span class="Drop_down_list" id="liste">Je souhaite passer </span>
                        <select name="Examens">
                          <option value="all">Examen...</option>
                          <option value="PERMIS B">PERMIS B</option>
                          <option value="TOEIC">TOEIC</option>
                          <option value="BAC">BAC</option>
                        </select>
                        <span class="Drop_down_list" id="liste">à</span>
                          <select name="Villes">
                            <option value="all">Ville...</option>
                            <option value="Paris">Paris</option>
                            <option value="Toulouse">Marseille</option>
                            <option value="Toulouse">Toulouse</option>
                          </select>
                      </div>
                      <input type="submit" value="confirmer">
                  </form>
                </div>
                </div>
            </div>
            </div>
          </div>
</div>
