<!-- FORMULAIRE -->
<div class="navbar navbar-expand-sm navbar-light navbar-website">
  <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mon compte</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://www.google.com/);">
  <div class="container">
    <h1>My <strong>success</strong> partner <strong></h1>
    <p>La réussite en 3 clicks</p>
    <a class="btn btn-flat" href="#">Découvrir</a>
  </div>
</div>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mon compte</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
</div>
<div class = "container text-align-center">
<div class ="homepage">
        <div class="filter">
          <div class="banner">
              <div class="class1">
                <div class="row align-self-center">
                    <form class="form-inline">
                      <div class="input">
                        <span class="Drop_down_list" id="liste">Je souhaite passer le </span>
                        <select name="Examens">
                          <option value="all">Examen...</option>
                          <option value="PERMIS B">PERMIS B</option>
                          <option value="TOEIC">TOEIC</option>
                          <option value="BAC">BAC</option>
                        </select>
                        <span class="Drop_down_list" id="liste">à</span>
                          <select name="Villes">
                            <option value="all">Ville...</option>
                            <option value="Paris">Paris</option>
                            <option value="Toulouse">Marseille</option>
                            <option value="Toulouse">Toulouse</option>
                          </select>
                        <span class="Drop_down_list" id="liste">le</span>
                          <select name="Dates">
                            <option value="all">Date...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
                         <span class="Drop_down_list" id="liste"></span>
                          <select name="Mois">
                            <option value="all">Mois...</option>
                            <option value="Janvier">Janvier</option>
                            <option value="Février">Février</option>
                            <option value="Mars">Mars</option>
                            <option value="Avril">Avril</option>
                            <option value="Mai">Mai</option>
                            <option value="Juin">Juin</option>
                            <option value="Juillet">Juillet</option>
                            <option value="Aout">Aout</option>
                            <option value="Septembre">Septembre</option>
                            <option value="Octobre">Octobre</option>
                          </select>
                      </div>
                  </form>
                </div>
              </div>
          </div>
        </div>
</div>
</div>
<a class="btn btn-flat" href="">Je réserve ma prestation</a>

<div class="footer">

          <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Selma lol
  </div>

    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

</div>
