.container {
 display:flex;
}
.service_info {
  flex-grow:1;
}

.avatar_and_heading {
  display:flex;

}

.avatar_heading{
  margin-right:20px;
}

.rating{
  display:flex;
}

.center-element{
  display:flex;
  justify-content: center;
}

