.container {
  margin-top: 20px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.avatar_and_heading {
  display:flex;

}

.avatar_heading{
  margin-right:20px;
}

.rating{
  display:flex;
}

.center-element{
  display:flex;
  justify-content: center;
}
